services:
  app:
    build: .                    # This tells Docker to build from local Dockerfile
    image: {{ manifest.app.name }}:{{ manifest.app.version }}
    container_name: swiftdeploy-app
    restart: unless-stopped
    user: "1001:1001"
    cap_drop:
      - ALL
    environment:
      - MODE={{ manifest.app.mode }}
      - APP_VERSION={{ manifest.app.version }}
    networks:
      - {{ manifest.network.name }}
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:{{ manifest.app.port }}/healthz"]
      interval: 10s
      timeout: 5s
      retries: 5

  nginx:
    image: {{ manifest.nginx.image }}
    container_name: swiftdeploy-nginx
    restart: unless-stopped
    ports:
      - "{{ manifest.nginx.port }}:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - app
    networks:
      - {{ manifest.network.name }}

  opa:
    image: openpolicyagent/opa:latest
    container_name: swiftdeploy-opa
    restart: unless-stopped
    ports:
      - "{{ manifest.opa.port }}:8181"
    volumes:
      - ./policies:/policies:ro
    command: ["run", "--server", "/policies"]
    networks:
      - {{ manifest.network.name }}

networks:
  {{ manifest.network.name }}:
    driver: {{ manifest.network.driver }}
